<launch>

	<arg name="adr1" default="e6:cd:44:a7:ef:7d"/> <!-- Sphero1 address -->
	<arg name="prvi" default="1"/> <!-- Sphero number -->

	<arg name="adr2" default="fb:28:2c:0b:75:19"/> <!-- Sphero2 address -->
	<arg name="drugi" default="2"/> <!-- Sphero number -->

	<arg name="adr3" default="e9:c8:1d:54:e4:31"/> <!-- Sphero3 address -->
	<arg name="treci" default="3"/> <!-- Sphero number -->

	<arg name="adr4" default="c4:5f:2c:3b:96:a6"/> <!-- Sphero4 address -->
	<arg name="cetvrti" default="4"/> <!-- Sphero number -->

	<arg name="adr5" default="e2:6a:a9:2c:64:3d"/> <!-- Sphero5 address -->
	<arg name="peti" default="5"/> <!-- Sphero number -->

	<arg name="adr6" default="ed:af:da:59:58:fc"/> <!-- Sphero6 address -->
	<arg name="sesti" default="6"/> <!-- Sphero number -->

	<arg name="adr7" default="C9:28:93:02:46:F7"/> <!-- Sphero7 address -->
	<arg name="sedmi" default="7"/> <!-- Sphero number -->

	<arg name="adr8" default="EE:D3:34:87:1D:70"/> <!-- Sphero8 address -->
	<arg name="osmi" default="8"/> <!-- Sphero number -->

	<arg name="adr9" default="E6:A3:F0:3F:B6:48"/> <!-- Sphero9 address -->
	<arg name="deveti" default="9"/> <!-- Sphero number -->

	<arg name="adr10" default="D8:B4:54:69:F3:8F "/> <!-- Sphero10 address -->
	<arg name="deseti" default="10"/> <!-- Sphero number -->

	<arg name="adr11" default="FA:0D:D3:FD:C8:03"/> <!-- Sphero11 address -->
	<arg name="jedanaesti" default="11"/> <!-- Sphero number -->



	<node pkg="sphero_sprk" type="sphero_node.py" name="driver" ns="sphero_1" output="screen" >
		<param name="adresa" type="str" value="$(arg adr1)"/>
		<param name="num" type="str" value="$(arg prvi)"/>
	</node>

	<node pkg="sphero_sprk" type="sphero_node.py" name="driver" ns="sphero_2" output="screen" >
		<param name="adresa" type="str" value="$(arg adr2)"/>
		<param name="num" type="str" value="$(arg drugi)"/>
	</node>

	<node pkg="sphero_sprk" type="sphero_node.py" name="driver" ns="sphero_3" output="screen" >
		<param name="adresa" type="str" value="$(arg adr3)"/>
		<param name="num" type="str" value="$(arg treci)"/>
	</node>

	<node pkg="sphero_sprk" type="sphero_node.py" name="driver" ns="sphero_4" output="screen" >
		<param name="adresa" type="str" value="$(arg adr4)"/>
		<param name="num" type="str" value="$(arg cetvrti)"/>
	</node>

	<node pkg="sphero_sprk" type="sphero_node.py" name="driver" ns="sphero_5" output="screen" >
		<param name="adresa" type="str" value="$(arg adr5)"/>
		<param name="num" type="str" value="$(arg peti)"/>
	</node>

	<node pkg="sphero_sprk" type="sphero_node.py" name="driver" ns="sphero_6" output="screen" >
		<param name="adresa" type="str" value="$(arg adr6)"/>
		<param name="num" type="str" value="$(arg sesti)"/>
	</node>

	<node pkg="sphero_sprk" type="sphero_node.py" name="driver" ns="sphero_7" output="screen" >
		<param name="adresa" type="str" value="$(arg adr7)"/>
		<param name="num" type="str" value="$(arg sedmi)"/>
	</node>

	<node pkg="sphero_sprk" type="sphero_node.py" name="driver" ns="sphero_8" output="screen" >
		<param name="adresa" type="str" value="$(arg adr8)"/>
		<param name="num" type="str" value="$(arg osmi)"/>
	</node>

	<node pkg="sphero_sprk" type="sphero_node.py" name="driver" ns="sphero_9" output="screen" >
		<param name="adresa" type="str" value="$(arg adr9)"/>
		<param name="num" type="str" value="$(arg deveti)"/>
	</node>

	<node pkg="sphero_sprk" type="sphero_node.py" name="driver" ns="sphero_10" output="screen" >
		<param name="adresa" type="str" value="$(arg adr10)"/>
		<param name="num" type="str" value="$(arg deseti)"/>
	</node>

	<node pkg="sphero_sprk" type="sphero_node.py" name="driver" ns="sphero_11" output="screen" >
		<param name="adresa" type="str" value="$(arg adr11)"/>
		<param name="num" type="str" value="$(arg jedanaesti)"/>
	</node>




</launch>